/* DIAGNOSTIC STYLING */
body {
  font-family: 'Courier New', Courier, monospace
}

/* Navbar */

* {
  box-sizing: border-box;
}
.nav {
  font-family: 'Courier New', Courier, monospace;
  height: 50px;
  width: 100%;
  text-transform: uppercase;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-logo {
  display: inline-block;
  font-size: 22px;
  color:#8acda4
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #F58B6F;
}

.nav > .nav-links > a:hover {
  background-color:#8ACDA4;
}

.nav > #nav-check {
  display: none;
}
.nav-logo {
max-width:10%;
margin:10px;
}
@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color:#8ACDA4;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #F58B6F;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color:white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/*  animations */

.word {
  font-family: 'Courier New', Courier, monospace;
	perspective: 1000px; 
	perspective-origin: 200px 40px;
}

.word span {
	cursor: pointer;
	display: inline-block;
	font-size: 7em;
	user-select: none;
	line-height: .8;
}

.word span:nth-child(1).active {
	animation: balance 1.5s ease-out;
	transform-origin: 0% 100% 0px;
}

@keyframes balance {
	0%, 100% {
		transform: rotate(0deg);
	}
	
	30%, 60% {
		transform: rotate(-45deg);
	}
}

.word span:nth-child(2).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}

@keyframes shrinkjump {
	10%, 35% {
		transform: scale(2, .2) translate(0, 0);
	}
	
	45%, 50% {
		transform: scale(1) translate(0, -150px);
	}
	
	80% {
		transform: scale(1) translate(0, 0);
	}
}

.word span:nth-child(3).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}
	
	24% {
		transform: rotateX(150deg);
	}
	
	36% {
		transform: rotateX(200deg);
	}
	
	48% {
		transform: rotateX(175deg);
	}
	
	60%, 85% {
		transform: rotateX(180deg);
	}
	
	100% {
		transform: rotateX(0deg);
	}
}

.word span:nth-child(4).active {
	animation: rotate 1s ease-out;
}

@keyframes rotate {
	20%, 80% {
		transform: rotateY(180deg);
	}
	
	100% {
		transform: rotateY(360deg);
	}
}

.word span:nth-child(5).active {
	animation: toplong 1.5s linear;
}

@keyframes toplong {
	10%, 40% {
		transform: translateY(-48vh) scaleY(1);
	}
	
	90% {
		transform: translateY(-48vh) scaleY(4);
	}
}

/* Other styles */
.name {
	background-color: #8acda4;
	color: #fff;
	display: flex;
	font-family: 'Courier New', Courier, monospace;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 100vh;
	margin: 0;
}
/* button */

button {
  background-color:white; 
  color:#8acda4;
  font-family: 'Courier New', Courier, monospace;
  text-transform:uppercase;
  font-size: 15px;
  border: none;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  margin: 10px;
  }  
  button:hover {
    background-color:#F58B6F;
}
#color {
  background-color:#F58B6F; 
  color:white;
  font-family: 'Courier New', Courier, monospace;
  text-transform:uppercase;
  font-size: 15px;
  border: none;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  margin: 10px;
}
#color:hover{
background-color: #8ACDA4
}
/* main */
main {
  margin: 0 auto;
  background-color: ;
  width: 50%;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
font-family: 'Courier New', Courier, monospace;
  
}
.devan {
  max-width:75%;
  border: solid 5px #F58B6F;
}
p {
  min-width:350px;
  max-width:550px;
  line-height:1.9;
  padding:5px;
}
h1 {
  color:#F58B6F;
  text-transform: uppercase;
}
/* Gallery */
.container {
  margin-top: 10px;
  background-color: #8acda4;

}
section .gallery {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-size: 14px;
}


.col-pic{
    position:absolute;
    top:0;
    color: #fff;
    width:100%;
    height:100%;
    text-align: left; 
    background: rgba(0, 0, 0, 0.2);
}
.col-pic h5{
    color:#fff;
    margin-left: 40px;
    font-size: 2em;
    text-transform:uppercase;
    font-family: 'Courier New', Courier, monospace;
    
}
.col-pic p {
  color:#fff;
  text-transform: lowercase;
  margin-left: 40px;
  font-size: 20px;

}
.col-3{
    position:relative;
    z-index: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 2.2s ease-in-out;
    -moz-transition: all 2.2s ease-in-out;
    -ms-transition: all 2.2s ease-in-out;
    -o-transition: all 2.2s ease-in-out;
    transition: all 2.2s ease-in-out;

}
.col-3 a img
{
    -webkit-transition: all 2.4s ease-in-out;
    -moz-transition: all 2.4s ease-in-out;
    -ms-transition: all 2.4s ease-in-out;
    -o-transition: all 2.4s ease-in-out;
    transition: all 2.4s ease-in-out;
    max-width:50%;
    max-height: 50%;
    display: block;
    margin: 0 auto;
 
}

.col-3 a
{
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.col-3 a:hover img
{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
.col-3:hover .col-pic
{
    background:rgba(0, 0, 0, 0.59);
}


/* footer */
#contact-bar {
  background-color:#8acda4;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
 

}

#contact-bar a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding-top: 20px;
  padding-bottom:20px;
  padding-left: 10px;
  padding-right: 10px;
}

#contact-bar a:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/* form */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  
}
.form h3 {
  color:#8acda4;
}
.input {
 display: flex;
 flex-direction: column;
}
label {
  color:#F58B6F;
}
input {
  color:black;
}
